<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Add a geocoder</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:40%; left: 0; width:100%; height: 50%; }
    </style>
</head>
<body>

<style>
.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}
</style>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
<div id='map'></div>
<pre id='coordinates' class='coordinates'></pre>

<script>
mapboxgl.accessToken = {{ .MapBoxToken }};
var coordinates = document.getElementById('coordinates');
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [{{ .Longitude.Float64 }}, {{ .Latitude.Float64 }}],
    zoom: 12
});

geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
});

map.addControl(geocoder);

map.on('load', function() {
    map.addSource('single-point', {
        "type": "geojson",
        "data": {
            "type": "FeatureCollection",
            "features": []
        }
    });

    map.addLayer({
        "id": "point",
        "source": "single-point",
        "type": "circle",
        "paint": {
            "circle-radius": 10,
            "circle-color": "#007cbf"
        }
    });

    map.getSource('single-point').setData({
        "type": "FeatureCollection",
        "features": [{
            "type": "Feature",
            "properties": { "name": {{ .Address.String }} },
            "geometry": {
                "type": "Point",
                "coordinates": [ {{ .Longitude.Float64 }}, {{ .Latitude.Float64 }} ]
            }
        }]
    });

    geocoder.on('result', function(ev) {
        map.getSource('single-point').setData(ev.result.geometry);
        console.log(ev.result.geometry);
        document.getElementById("address").value = ev.result.place_name;
        document.getElementById("latitude").setAttribute('value', ev.result.center[1]);
        document.getElementById("longitude").setAttribute('value', ev.result.center[0]);
    });
});

</script>

<form method="post" action="/editprofile">
    <fieldset>
        <table>
            <tr>
                <td><label>Email</label></td>
                <td><input type="email" value="{{ .Email }}" name="email" required></td>
            </tr>
            <tr>
                <td><label>Full Name</label></td>
                <td><input type="text" value="{{ .FullName.String }}" name="fullname" required></td>
            </tr>
            <tr>
                <td><label>Telephone</label></td>
                <td><input type="tel" value="{{ .Telephone.String }}" name="telephone" required></td>
            </tr>
            <tr>
                <td><label>Address</label></td>
                <td><textarea rows="4" cols="50" name="address" id="address" required>{{ .Address.String }}</textarea></td>
                <td><p><small>You can pick address from search bar on the map.</small></p></td>
            </tr>
            <tr>
                <td><label>Latitude</label></td>
                <td><input type="text" value="{{ .Latitude.Float64 }}" id="latitude" name="latitude" required /></td>
            </tr>
            <tr>
                <td><label>Longitude</label></td>
                <td><input type="text" value="{{ .Longitude.Float64 }}" id="longitude" name="longitude" required /></td>
            </tr>
            <tr>
                <td><input class="button-primary" type="submit" value="Save"></td>
                <td> {{ .Status }}</td>
            </tr>
        </table>
        
    </fieldset>
</form>

</body>
</html>