<!doctype html>
<html lang="en">

<head>
</head>
<body>
    <form method="post" action="/change-password">
        <fieldset>
        <label for="nameField">Password</label>
        <input type="password" id="nameField" name="password" required>
        <input type="hidden" name="id" value="{{ .UserID }}">
        <input type="hidden" name="otp" value="{{ .OTP }}">
        <input class="button-primary" type="submit" value="Reset Password">
        {{ .Status }}
        </fieldset>
    </form>
</body>
</html>