<!doctype html>
<html lang="en">

<head>
</head>
<body>
    <form method="post" action="/login">
        <fieldset>
        <label for="nameField">Email</label>
        <input type="email" id="nameField" name="email" required>
        <label for="passField">Password</label>
        <input type="password" id="passField" name="password" required>
        <input class="button-primary" type="submit" value="Login">
        {{ .Status }}
        </fieldset>
    </form>
    OR
    <fieldset>
        <a href='/google'>Log in with Google</a>
    </fieldset>
    OR
    <fieldset>
        <a href='/register'>Register</a>
    </fieldset>
    OR
    <fieldset>
        <a href='/password'>Forgot Password</a>
    </fieldset>
</body>
</html>