<!doctype html>
<html lang="en">

<head>
</head>
<body>
    <form method="post" action="/forget-password">
        <fieldset>
        <label for="nameField">Email</label>
        <input type="email" id="nameField" name="email" required>
        <input class="button-primary" type="submit" value="Reset Password">
        {{ .Status }}
        </fieldset>
    </form>
</body>
</html>