<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Add a geocoder</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:40%; left: 0; width:100%; height: 50%; }
    </style>
</head>
<body>

<style>
.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}
</style>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
<div id='map'></div>
<pre id='coordinates' class='coordinates'></pre>

<script>
mapboxgl.accessToken = {{ .MapBoxToken }};
var coordinates = document.getElementById('coordinates');
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [{{ .Longitude.Float64 }}, {{ .Latitude.Float64 }}],
    zoom: 12
});

var marker = new mapboxgl.Marker({
    draggable: false
})
    .setLngLat([{{ .Longitude.Float64 }}, {{ .Latitude.Float64 }}])
    .addTo(map);

</script>

<form method="post" action="/editprofile">
    <fieldset>
        <table>
            <tr>
                <td>Email</td>
                <td>{{ .Email }}</td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>{{ .FullName.String }}</td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td>{{ .Telephone.String }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ .Address.String }}</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>{{ .Latitude.Float64 }}</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>{{ .Longitude.Float64 }}</td>
            </tr>
        </table>
        <hr>
        <a href='/profile'>Edit Profile</a>
        <hr>
        <a href='/logout'>Logout</a>
    </fieldset>
</form>

</body>
</html>